.footerWrapper {
  position: relative;
  width: 100%;
  height: 420px;
  padding: 60px 80px;
  /* background: #1f1e1d; */
  background-image: url("/images/footer-bg.png");
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center; /* <-- CENTER EVERYTHING VERTICALLY */
  margin-top: 10%;
}

.leftCol {
  display: flex;
  align-items: center; /* <-- CENTER LOGO VERTICALLY */
}

.logoBox img {
  display: block;
}

.rightCol {
  display: flex;
  gap: 80px;
  align-items: center; /* <-- CENTER BOTH MENUS VERTICALLY */
  color: #fff;
}

.rightCol ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.rightCol ul li {
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.rightCol ul li:hover {
  opacity: 0.7;
}
